{% extends 'base.html' %}

{% block content %}
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Półfinały</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin_top40">
                    <div class="row d_flex">
                        <div class="col-md-6">
                            <button onclick="window.location.href='{% url 'polfinal_detail' 1 %}'" class="btn btn-primary">Półfinał 1</button>
                            <br>
                            <br>

                            <ul>
                                {% for kraj in polfinal1_kraje %}
                                    <li>
                                        {% if kraj.zdjecie %}
                                            <img src="{{ kraj.zdjecie.url }}" alt="{{ kraj.nazwa }}" width="60" height="40">
                                        {% endif %}
                                        {{ kraj.nazwa }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <button onclick="window.location.href='{% url 'polfinal_detail' 2 %}'" class="btn btn-primary">Półfinał 2</button>
                            <br>
                            <br>
                            <ul>
                                {% for kraj in polfinal2_kraje %}
                                    <li>
                                        {% if kraj.zdjecie %}
                                            <img src="{{ kraj.zdjecie.url }}" alt="{{ kraj.nazwa }}" width="60" height="40">
                                        {% endif %}
                                        {{ kraj.nazwa }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
