{% extends 'base.html' %}

{% block content %}
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Półfinał {{ polfinal_num }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin_top40">
                   <table>
                       <tr>
                           <th></th>
                           <th></th>
                           <th></th>
                           <th></th>
                           <th>Nazwa</th>
                           <th></th>
                           <th>Punkty</th>
                       </tr>
                       {% for kraj in kraje %}
                       <tr>
                           <th>{{ forloop.counter }}</th>
                           <th></th>
                           <th>{% if kraj.zdjecie %}
                                    <img src="{{ kraj.zdjecie.url }}" alt="{{ kraj.nazwa }}" width="60" height="40">
                                {% endif %}</th>
                           <th></th>
                           <th>{{ kraj.nazwa }}</th>
                           <th></th>
                           <th>{{ kraj.punkty }}</th>
                       </tr>
                       {% endfor %}
                   </table>
                </div>
                <div class="col-md-12 margin_top40">
                    <h1>Głosowanie</h1>
                </div>
                <div class="col-md-12 margin_top40">
                    <h1>Lista zakwalifikowanych do finału</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
