{% extends 'base.html' %}

{% block content %}
    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Półfinały</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin_top40">
                    <div class="row d_flex">
                        <div class="col-md-4">
                            <h2>Półfinał 1</h2>
                            <ol>
                                {% for kraj in polfinal1_kraje %}
                                    <li>{% if kraj.zdjecie %}
                                        <img src="{{ kraj.zdjecie.url }}" alt="{{ kraj.nazwa }}" width="60" height="40">
                                        {% endif %}{{ kraj.nazwa }}</li>
                                {% endfor %}
                            </ol>
                            <br>
                        </div>
                        <div class="col-md-4">
                            <h2>Półfinał 2</h2>
                            <ol>
                                {% for kraj in polfinal2_kraje %}
                                    <li>{% if kraj.zdjecie %}
                                        <img src="{{ kraj.zdjecie.url }}" alt="{{ kraj.nazwa }}" width="60" height="40">
                                        {% endif %}{{ kraj.nazwa }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

